@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

//@import 'dropdown';

@font-face {
  font-family: DS;
  src: url(../fonts/DS/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: Quiscksand;
  src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

// VARIABLES

$bg-color-1: #FA9494;
$bg-color-menu: rgba($color: #000000, $alpha: 0.7);
$base-font-color: white;
$work-opacity: 1;

$big-screen-menu-height: 102px;
$middle-screen-menu-height: 91px;
$small-screen-menu-height: 80px;

// GENERAL

html{
  font-family: 'Quicksand', 'Montserrat';
  text-align: center;
  //scroll-behavior: smooth;
}

main {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
}

.container {
  margin: 0 2em;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $base-font-color;
}

.nav-button {
  display: none;
}

// HEADER
.menu {

  position: sticky;
  z-index: 1;
  top: 0px;
  right: 0;
  left: 0px;
  height: 0;
}

.vrch {
  background-color: $bg-color-menu;
  display: flex;
  justify-content: space-between;
  align-items:center;
  letter-spacing: 0.1em;
  //height: 5em;
}

.h-l {
  margin-left: 1em;
}

.logo {
  font-family: 'DS';
  font-weight: 100;
  font-size: 3em;
  color: $base-font-color;
  &:focus,
  &:hover {
    color: $bg-color-1;
  }
}

.logo-br {
  display: none;
}

.navigacia {
  display: flex;
  gap: 2em;
  margin-right: 1em;
}

.panel {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 1.2em;
  font-weight: 100;
  & a:focus,
  & a:hover {
    color: $bg-color-1;
  }
}

.social {
  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
  & a:focus,
  & a:hover {
    color: $bg-color-1;
  }
}

// DROPDOWN

.btn {
  background-color: rgba(0, 0, 0, 0);
  color: $base-font-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
  font-size: 1.4em;
}

.bx {
  font-size: 1.1rem;
}

.dropdown {
  position: absolute;
  top: 4.7em;
  right: 0;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: $bg-color-menu;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  & a {
    display: flex;
    align-items: center; 
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: $base-font-color;
  }

  & a:hover {
    background-color: var(--color);
    color: $base-font-color;
  }
}

.dropdown-social {
  display: flex;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}


// TOP

.hudba {
  max-width: 20vw;
  height: 10vh;
}

.top {
  background: url(../img/top-alt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 34px;
  display: flex;
  //align-items: center;
  //justify-content: center;
  background-position-x: center;
  background-position-y: 0em;
  transform: translateZ(-2.8px) scale(2.1);
  z-index: -1;
}

// ABOUTUS

#aboutus {
  background-color: $bg-color-1;
  opacity: $work-opacity;
}

.au-nadpis {
  font-size: 2.9em;
  margin: 2em;
}

.au-text {
  text-align: justify;
  font-size: 1.6em;
  line-height: 1.3em;
}

.two {
  display: flex;
  gap: 1em;
}

.trio {
  max-height: calc(100vh - 3em);
  padding: 0 5em;
}

.trio-popis {
  color: $base-font-color;
  padding: 0 2em;
}

.trio-popis,
.trio-fotka {
  padding-top: 3em;
}

// GALLERY

#gallery {
  position: absolute;
  width: 100vw;
  height: $big-screen-menu-height;
  background-color: $bg-color-1;
}

.gallery {
  position: sticky;
  top: $big-screen-menu-height;
	display: flex;
	padding: 2px;
	transition: .3s;
  background-color: white;
	&:hover &__image {
		filter: grayscale(0.8);
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
    justify-content: space-between;
	}
	
	&__link {
		margin: 2px;
		overflow: hidden;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
        margin: 0;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 0 15px;
		width: 100%;
		font-size: 18px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}

.gallery-bottom {
  height: $big-screen-menu-height;
  background-color: $bg-color-1;
}

// REVIEWS

#reviews {
  background-color: $bg-color-1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: $work-opacity;
}

// CONTACT

#contact {
  background-color: #181818;
  color: $base-font-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

// LIGHTBOX

#overlay {
	background: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	text-align: center;
  display: grid;
}

#overlay img {
	//margin-top: $big-screen-menu-height;
	border: 5px solid white;
	border-radius: 5px;
  max-width: 90%;
  max-height: 80vh;
  justify-self: center;
  align-self: center;
}

// MEDIA
@media screen and (min-width: 1100px) {
  .menu {
    right: 17px;
  }

  .top {
    top: 60px;
  }
}

@media screen and (max-width: 1350px) {
  .au-nadpis {
    margin: 1.5em auto;
  }
  
  .au-text {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 1250px) {
  .trio-popis,
  .trio-fotka {
    padding-top: 8em;
  }

  .au-nadpis {
    margin: 1em auto;
  }
  
  .trio {
    max-height: 80vh;
    padding: 0 2em;
  }
}

@media screen and (max-width: 1100px) { 
  #top {
    background-size: 180%;
  }
  .au-text {
    font-size: 1.1em;
    line-height: 1.2em;
  }

  .trio {
    max-height: 70vh;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0 2.5em;
  }
  
  .trio-popis {
    padding-left: 0;
    padding-right: 0;
  }
  
  .trio {
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    font-size: 2.5em;
  }

  .panel {
    font-size: 1em;
  }

  #gallery {
    height: $middle-screen-menu-height;
  }
  
  .gallery {
    top: $middle-screen-menu-height;
  }

  .gallery-bottom {
    height: $middle-screen-menu-height;
  }
}

@media screen and (max-width: 800px) {
  .social {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #aboutus {
    overflow: hidden;
  }

  .two {
    flex-direction: column-reverse;
    gap: 0;

  }

  .trio-popis {
    padding-top: 3em;
  }

  .trio-fotka {
    padding-top: 0;
  }

}

@media screen and (max-width: 650px) {
  .container {
    margin: 0 1.5em;
  }

  .logo {
    font-size: 2em;
  }

  .panel {
    font-size: 0.8em;
    gap: 0.5em;
  }

  #gallery {
    height: $small-screen-menu-height;
  }
  
  .gallery {
    top: $small-screen-menu-height;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    &__column {
      width: 100%;
    }
  }

  .gallery-bottom {
    height: $small-screen-menu-height;
  }

  .au-nadpis {
    font-size: 2em;
  }

  .au-text {
    font-size: 1em;
    line-height: 1em;
  }
}

@media screen and (max-width: 500px) {
  #top {
    background-size: 250%;
  }

  .panel {
    display: none;
  }

  .h-l {
    min-width: 50vw;
    & a {
      min-width: 100%;
    }
  }
  
  .nav-button {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  #top {
    background-size: 250%;
  }

  .trio-popis {
    padding-top: 4em;
  }

  .au-nadpis {
    font-size: 1.3em;
  }

  .au-text {
    font-size: 0.8em;
    line-height: 0.8em;
  }

}

//orientacia na vysku
@media screen and (orientation: portrait) {
  main {
    min-width: 100vw;
    margin: 0;
  }
}
